name: PR Checks

on:
  pull_request:
    branches: [ main]
  push:
    branches: [ feature-testing ]

jobs:
  format-and-lint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'pnpm'
        
    - name: Install pnpm
      uses: pnpm/action-setup@v3
      with:
        version: latest
        
    - name: Install dependencies
      run: pnpm install
      
    - name: Check formatting
      run: pnpm format
      
    - name: Type check
      run: pnpm check
       
    - name: Check for changes
      run: echo "No changes detected" && "successfully passed"
      
